{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table" id="projectsTable">
          <thead>
            <tr>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr id={{project.id}}>
                <td>{{project.title}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="main.css">
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="../../static/js/datatables.min.js"></script>
  <script type="text/javascript" src="../../static/js/delete.js"></script>
{% endblock %}
