<!DOCTYPE html>
<html>

<head>
  <title>Peter White - Portfolio</title>
</head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/neon.css">
<body>

  <header>
    <div class="top-container">
      <div class="neon"><h1>Peter</h1></div>
      <div class="flux"><h1>White</h1></div>
    </div>
    <div class="nav-container">
    </div>
  </header>

  <main>
    <div id="dosBoxx">
      <div class="row cell title">
        <div class="col-md-12">
          <!-- TODO: Make version number datetime for lulz -->
          <p>Microthought DubiOS [version 10.34.70]</p>
        </div> <!-- end of row -->
        <div class="col-md-12">
          <!-- TODO: Make version number datetime for lulz -->
          <p>Enter "help" for help</p>
        </div> <!-- end of row -->
      </div>
      <div class="row cell command">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="path">C:\></span>
            </div>
            <!-- TODO: Disable all previous inputs when generating new -->
            <input type="text" class="form-control" id="command-input" aria-describedby="basic-addon3">
          </div>
        </div>
      </div> <!-- end of row -->
  </main>
  <footer></footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/script.js"></script>
</body>

</html>
