{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  Projects - MistahWhite
{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/createproject" id="new_project" class="btn btn-primary" role="button">New Project</a>
        <table class="table" id="projectsTable">
          <thead>
            <tr>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <td><a href="projects/{{project.id}}">{{project.title}}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="../static/css/form.css">
  <link rel="stylesheet" href="../static/css/projects.css">
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="../../static/js/datatables.min.js"></script>
  <script type="text/javascript" src="../static/js/form.js"></script>
{% endblock %}
