{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{project.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{project.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{project.url}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{project.github}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/deleteproject/{{project.id}}">Delete Project</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_scripts %}
{% endblock %}
