{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{project.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{project.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{project.url}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{project.github}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>language</h4>
        <ul>
        {% for skill in skills["language"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h4>environment</h4>
        <ul>
        {% for skill in skills["environment"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h4>tool</h4>
        <ul>
        {% for skill in skills["tool"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>library</h4>
        <ul>
        {% for skill in skills["library"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h4>database</h4>
        <ul>
        {% for skill in skills["database"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h4>expertise</h4>
        <ul>
        {% for skill in skills["framework"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>framework</h4>
        <ul>
        {% for skill in skills["expertise"] %}
          <li>{{skill.title}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/deleteproject/{{project.id}}">Delete Project</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="../static/css/project.css">
{% endblock %}

{% block page_scripts %}
{% endblock %}
