{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table" id="skillsTable">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Year Sarted</th>
            </tr>
          </thead>
          <tbody>
            {% for skill in skills %}
              <tr id={{skill.id}}>
                <td>{{skill.title}}</td>
                <td>{{skill.category}}</td>
                <td>{{skill.yearStarted}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" class="btn btn-danger deleter">Delete Selected</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><a class="displayForm" href="#">+</a></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="form-container" class="hide">
          {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="../static/css/datatables.min.css">
  <link rel="stylesheet" href="../static/css/tablerow.css">
  <link rel="stylesheet" href="../static/css/skills.css">
  <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="../static/js/datatables.min.js"></script>
  <script type="text/javascript" src="../static/js/deleteSkill.js"></script>
  <script type="text/javascript" src="../static/js/form.js"></script>
{% endblock %}
